<div id="main-content-wp" class="cart-page">
    <div class="section" id="breadcrumb-wp">
        <div class="wp-inner">
            <div class="section-detail">
                <ul class="list-item clearfix">
                    <li>
                        <a href="/" title="">Trang chủ</a>
                    </li>
                    <li>
                        <a href="/cart" title="">Giỏ hàng</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div id="wrapper" class="wp-inner clearfix">
        <div class="section" id="info-cart-wp">
            <div class="section-detail table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <td>Mã sản phẩm</td>
                            <td>Ảnh sản phẩm</td>
                            <td>Tên sản phẩm</td>
                            <td>Giá sản phẩm</td>
                            <td>Số lượng</td>
                            <td colspan="2">Thành tiền</td>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each cartItems}}
                        <tr>
                            <td>{{ProductID}}</td>
                            <td>
                                <a href="" title="" class="thumb">
                                    {{#if ImageURL}}
                                    <img src="{{ImageURL}}" alt="{{ProductName}}">
                                    {{else}}
                                    <img src="/images/img-pro-01.png" alt="{{ProductName}}">
                                    {{/if}}
                                </a>
                            </td>
                            <td>
                                <a href="/product/detail/{{ProductID}}" title="" class="name-product">{{ProductName}}</a>
                            </td>
                            <td>{{formatPrice Price}}</td>
                            <td>
                                <input type="number" min="0" name="num-order" value="{{Quantity}}" class="num-order"
                                    onchange="updateTotalPrice({{ProductID}}, this.value, {{Price}})">
                            </td>
                            <td id="total-price-{{ProductID}}">{{calculateTotalPrice Price Quantity}}</td>
                            <td>
                                <a href="" title="" class="del-product"><i class="fa fa-trash-o"></i></a>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="7">
                                <div class="clearfix">
                                    <p id="total-price" class="fl-right">Tổng giá: <span>850.000đ</span></p>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="7">
                                <div class="clearfix">
                                    <div class="fl-right">
                                        <a href="/update_cart" title="" id="update-cart">Cập nhật giỏ hàng</a>
                                        <a href="/checkout" title="" id="checkout-cart">Thanh toán</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <div class="section" id="action-cart-wp">
            <div class="section-detail">
                <p class="title">Click vào <span>“Cập nhật giỏ hàng”</span> để cập nhật số lượng. Nhập vào số lượng
                    <span>0</span> để xóa sản phẩm khỏi giỏ hàng. Nhấn vào thanh toán để hoàn tất mua hàng.
                </p>
                <a href="/" title="" id="buy-more">Mua tiếp</a><br />
                <a href="" title="" id="delete-cart">Xóa giỏ hàng</a>
            </div>
        </div>
    </div>
</div>

<script>
    function updateTotalPrice(productId, quantity, price) {
        var newTotalPrice = quantity * price;
        var formattedPrice = new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format(newTotalPrice);

        document.getElementById('total-price-' + productId).textContent = formattedPrice;
    }
</script>