<div id="main-content-wp" class="clearfix detail-product-page">
    <div class="wp-inner">
        <div class="secion" id="breadcrumb-wp">
            <div class="secion-detail">
                <ul class="list-item clearfix">
                    <li>
                        <a href="/" title="">Trang chủ</a>
                    </li>
                    {{!-- <li>
                        <a href="" title="">Điện thoại</a>
                    </li> --}}
                </ul>
            </div>
        </div>
        <div class="main-content fl-right">
            <div class="section" id="detail-product-wp">
                <div class="section-detail clearfix">
                    <div class="thumb-wp fl-left">
                        <a href="" title="" id="main-thumb">
                            {{#if product.ImageURL}}
                            <img src="/{{product.ImageURL}}" alt="{{product.ProductName}}" />
                            {{else}}
                            <img src="/images/img-pro-01.png" alt="{{product.ProductName}}" />
                            {{/if}}
                        </a>
                        <!-- Giả sử bạn có thêm ảnh phụ, chèn chúng ở đây -->
                        <div id="list-thumb">
                            <!-- Các ảnh phụ -->
                        </div>
                    </div>
                    <div class="thumb-respon-wp fl-left">
                        {{#if product.ImageURL}}
                        <img src="{{product.ImageURL}}" alt="{{product.ProductName}}">
                        {{else}}
                        <img src="/images/img-pro-01.png" alt="{{product.ProductName}}">
                        {{/if}}
                    </div>
                    <div class="info fl-right">
                        <h3 class="product-name">{{product.ProductName}}</h3>
                        <div class="desc">
                            {{product.Description}}
                        </div>
                        <div class="num-product">
                            <span class="title">Sản phẩm: </span>
                            <span class="status">{{#ifCond product.StockQuantity ">" 0}}Còn hàng{{else}}Hết
                                hàng{{/ifCond}}</span>
                        </div>
                        <p class="price">{{formatPrice product.Price}}</p>
                        <div id="num-order-wp">
                            <a title="" id="minus"><i class="fa fa-minus"></i></a>
                            <input type="text" name="num-order" value="1" id="num-order">
                            <a title="" id="plus"><i class="fa fa-plus"></i></a>
                        </div>
                        <button title="Thêm giỏ hàng" class="add-cart"
                            onclick="addToCart('{{product.ProductID}}', $('#num-order').val())">Thêm giỏ hàng</button>


                    </div>
                </div>
            </div>

            <div class="section" id="post-product-wp">
                <div class="section-head">
                    <h3 class="section-title">Mô tả sản phẩm</h3>
                </div>
                <div class="section-detail">
                    {{{product.Detail}}}
                </div>
            </div>

            <div class="section" id="same-category-wp">
                <div class="section-head">
                    <h3 class="section-title">Cùng chuyên mục</h3>
                </div>
                <div class="section-detail">
                    <ul class="list-item">
                        <li>
                            <a href="product/detail/1/1" title="" class="thumb">
                                <img src="/images/img-pro-01.png">
                            </a>
                            <a href="" title="" class="product-name">Laptop HP Probook 4430s</a>
                            <div class="price">
                                <span class="new">17.900.000đ</span>
                                <span class="old">20.900.000đ</span>
                            </div>
                            <div class="action clearfix">
                                <a href="" title="" class="add-cart fl-left">Thêm giỏ hàng</a>
                                <a href="" title="" class="buy-now fl-right">Mua ngay</a>
                            </div>
                        </li>
                        <li>
                            <a href="product/detail/1/1" title="" class="thumb">
                                <img src="/images/img-pro-01.png">
                            </a>
                            <a href="" title="" class="product-name">Laptop HP Probook 4430s</a>
                            <div class="price">
                                <span class="new">17.900.000đ</span>
                                <span class="old">20.900.000đ</span>
                            </div>
                            <div class="action clearfix">
                                <a href="" title="" class="add-cart fl-left">Thêm giỏ hàng</a>
                                <a href="" title="" class="buy-now fl-right">Mua ngay</a>
                            </div>
                        </li>
                        <li>
                            <a href="product/detail/1/1" title="" class="thumb">
                                <img src="/images/img-pro-01.png">
                            </a>
                            <a href="" title="" class="product-name">Laptop HP Probook 4430s</a>
                            <div class="price">
                                <span class="new">17.900.000đ</span>
                                <span class="old">20.900.000đ</span>
                            </div>
                            <div class="action clearfix">
                                <a href="" title="" class="add-cart fl-left">Thêm giỏ hàng</a>
                                <a href="" title="" class="buy-now fl-right">Mua ngay</a>
                            </div>
                        </li>
                        <li>
                            <a href="product/detail/1/1" title="" class="thumb">
                                <img src="/images/img-pro-01.png">
                            </a>
                            <a href="" title="" class="product-name">Laptop HP Probook 4430s</a>
                            <div class="price">
                                <span class="new">17.900.000đ</span>
                                <span class="old">20.900.000đ</span>
                            </div>
                            <div class="action clearfix">
                                <a href="" title="" class="add-cart fl-left">Thêm giỏ hàng</a>
                                <a href="" title="" class="buy-now fl-right">Mua ngay</a>
                            </div>
                        </li>
                        <li>
                            <a href="product/detail/1/1" title="" class="thumb">
                                <img src="/images/img-pro-01.png">
                            </a>
                            <a href="" title="" class="product-name">Laptop HP Probook 4430s</a>
                            <div class="price">
                                <span class="new">17.900.000đ</span>
                                <span class="old">20.900.000đ</span>
                            </div>
                            <div class="action clearfix">
                                <a href="" title="" class="add-cart fl-left">Thêm giỏ hàng</a>
                                <a href="" title="" class="buy-now fl-right">Mua ngay</a>
                            </div>
                        </li>
                        <li>
                            <a href="product/detail/1/1" title="" class="thumb">
                                <img src="/images/img-pro-01.png">
                            </a>
                            <a href="" title="" class="product-name">Laptop HP Probook 4430s</a>
                            <div class="price">
                                <span class="new">17.900.000đ</span>
                                <span class="old">20.900.000đ</span>
                            </div>
                            <div class="action clearfix">
                                <a href="" title="" class="add-cart fl-left">Thêm giỏ hàng</a>
                                <a href="" title="" class="buy-now fl-right">Mua ngay</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        {{> sidebar}}
    </div>
</div>

<!--Modal thông báo thành công/thất bại khi thêm sản phẩm vào giỏ hàng-->
<div class="modal fade" id="modalAddToCart" tabindex="-1" role="dialog" aria-labelledby="modalAddToCartLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div id="modalAddToCartLabel" class="modal-header">
                <h5 class="modal-title">Thông báo</h5>
            </div>
            <div class="modal-body">
                <p id="modalAddToCartMessage"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="closeModal()">Đóng thông báo</button>
                <a href="/cart" class="btn btn-primary">Xem giỏ hàng</a>
            </div>
        </div>
    </div>
</div>

<script>
    //Đóng modal thông báo sau 3s
    $(document).ready(function () {
        setTimeout(function () {
            $('#modalAddToCart').modal('hide');
        }, 3000);
    });
    
    function closeModal() {
        $('#modalAddToCart').modal('hide');
    }

</script>

<script>
    function addToCart(productId, quantity) {
        $.ajax({
            url: '/cart/add',
            method: 'POST',
            data: {
                productId: productId,
                quantity: quantity
            },
            success: function (response) {
                $('#modalAddToCartMessage').html("Thêm sản phẩm vào giỏ hàng thành công");
                $('#modalAddToCart').modal('show');
            },
            error: function (error) {
                $('#modalAddToCartMessage').html("Thêm sản phẩm vào giỏ hàng thất bại");
                $('#modalAddToCart').modal('show');
            }
        });
    }
</script>