<div id="content" class="container-fluid">
  <div class="card">
    <div class="card-header font-weight-bold">
      Cập nhật sản phẩm
    </div>
    <div class="card-body">
      <form action="/admin/product/edit/{{product.ProductID}}" enctype="multipart/form-data" method="POST" id="addProductForm" >
        <div class="row">
          <div class="col-6">
            <div class="form-group">    
              <label for="name">Tên sản phẩm</label>
              <input class="form-control" required type="text" name="name" id="name" value="{{product.ProductName}}"/>
            </div>
            <div class="form-group">
              <label for="price">Giá</label>
              <input class="form-control" required type="text" name="price" id="price"  value="{{product.Price}}"/>
            </div>
            <div class="form-group">
              <label for="quantity">Số lượng</label>
              <input class="form-control" required type="text" name="quantity" id="quantity"  value="{{product.StockQuantity}}"/>
            </div>
            
        <div class="form-group">
          <label for="detail">Chi tiết sản phẩm</label>
          <textarea name="detail" class="form-control" id="detail" cols="30" rows="5">{{product.Detail}}</textarea>
        </div>
        

        <div class="form-group">
          <label for="">Danh mục</label>
          <select class="form-control" name="categoryID" id="categorySelection">
            <option>Chọn danh mục</option>
            {{#each categories}}
            <option  value="{{this.CategoryID}}">{{this.CategoryName}}</option>
            {{/each}}
          </select>
        </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <label for="image">Hình Ảnh</label>
              <input type="file" name="image" class="form-control" id="image" onchange="PreviewImage();" cols="30" rows="5"></input>
              
              <div class="m-3"> 
              <img id="previewImg" src="/images/products/{{product.ProductID}}.jpg" class="rounded-3 w-50" />

              </div>

            </div>
          </div>
        </div>

        

        <input type="submit" value="Lưu" class="btn btn-primary mt-3">
      </form>
    </div>
  </div>
</div>

<div class="modal" id="message-modal">
    {{message}}
</div>


{{#if message}}
<script>
    alert("{{message}}");
</script>
{{/if}}

<script>


    function PreviewImage() {
        var oFReader = new FileReader();
        oFReader.readAsDataURL(document.getElementById("image").files[0]);

        oFReader.onload = function (oFREvent) {
            document.getElementById("previewImg").src = oFREvent.target.result;
        };
    };


    document.addEventListener("DOMContentLoaded", () => {
  
        var categoryID = "{{product.CategoryID}}";
        $("#categorySelection").val(categoryID).change();
    });
</script>