<div class="container">
    <h1 class="text-center mt-5">Quản Lý Don Hang</h1>

    <div class="my-3">
        <input type="text" name="search" id="search" class="form-control" placeholder="Nhập tên nguoi dung" />
        <button class="btn btn-primary mt-3" id="searchBtn">Tìm kiếm</button>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Fullname</th>
                <th>Order Date</th>
                <th>Total Amount</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {{#each orders}}
            <tr>
                <td>{{this.User.FullName}}</td>
                <td>
                    {{this.OrderDate}}
                </td>
                
                <td>{{this.TotalAmount}}</td>
      
                
                <td>
                    <a class="btn btn-info" href="/admin/orders/detail/{{this.OrderID}}">Detail</a>
                    <button class="btn btn-danger"
                        onclick="showDeleteConfirmationModal('{{this.User.FullName}}', {{this.OrderID}})">Reject</button>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>


<div class="modal" id="deleteConfirmationModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Xác Nhận Xóa</h5>
        <button type="button" class="close" data-bs-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <p>Bạn có chắc chắn muốn xóa don hang cua <span id="userNameToDelete"></span> không?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
        <button type="button" class="btn btn-danger" onclick="deleteUser()">Xóa</button>
      </div>
    </div>
  </div>
</div>

<script>
  function showDeleteConfirmationModal(username, orderID) {
    $('#userNameToDelete').text(username);
    $('#deleteConfirmationModal').modal('show');
    $('#deleteConfirmationModal').data('orderID', orderID);
  }

  function deleteUser() {
    const orderID = $('#deleteConfirmationModal').data('orderID');
    $.ajax({
      url: `/admin/orders/delete/${orderID}`,
      method: 'DELETE',
      success: function() {
        window.location.reload();
      },
      error: function() {
        alert('Đã có lỗi xảy ra');
      }
    })
  }

  document.getElementById('searchBtn').addEventListener('click', function(){
    search = document.getElementById('search').value;
    document.location.href = `/admin/orders?name=${search}`;
  });

</script>