<div id="main-content-wp" class="clearfix category-product-page">
    <div class="wp-inner">
        <div class="secion" id="breadcrumb-wp">
            <div class="secion-detail">
                <ul class="list-item clearfix">
                    <li>
                        <a href="/" title="">Trang chủ</a>
                    </li>
                    <li>
                        <a href="" title="">{{page.CategoryName}}</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="main-content fl-right">
            <div class="main-content fl-right">
                <div class="section" id="list-product-wp">
                    <div class="section-head clearfix">
                        <h3 class="section-title fl-left">{{page.CategoryName}}</h3>
                        <!-- Bổ sung filter và phân trang nếu cần -->
                    </div>
                    <div class="section-detail">
                        <ul class="list-item clearfix">
                            {{#each page.products}}
                            <li>
                                <a href="products/{{ProductID}}" title="" class="thumb">
                                    <img src="/{{ImageURL}}" alt="{{ProductName}}">
                                </a>
                                <a href="product/detail/{{ProductID}}" title="" class="product-name">{{ProductName}}</a>
                                <div class="price">
                                    <span class="new">{{Price}}đ</span>
                                    <!-- Giả định có giá cũ để hiển thị, tính toán dựa trên Discount -->
                                    <span class="old">{{calcOldPrice Price Discount}}đ</span>
                                </div>
                                <div class="action clearfix">
                                    <a href="/add_cart" title="Thêm giỏ hàng" class="add-cart fl-left">Thêm giỏ hàng</a>
                                    <a href="/checkout" title="Mua ngay" class="buy-now fl-right">Mua ngay</a>
                                </div>
                            </li>
                            {{/each}}
                        </ul>
                    </div>
                </div>

                <!-- Phân Trang -->
                <div class="section" id="paging-wp">
                    <div class="section-detail">
                        <ul class="list-item clearfix">
                            {{#eachPagination page.totalPages}}
                            <li>
                                <a href="?page={{this}}" title="">{{this}}</a>
                            </li>
                            {{/eachPagination}}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        {{> sidebar_product}}
    </div>
</div>